.job-card-container {
  background-color: #272727;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  border-radius: 15px;
  padding-top: 20px;
  padding-left: 15px;
  padding-bottom: 20px;
  padding-right: 20px;
  width: 100%;
}
.icon-container {
  display: flex;
  flex-direction: row;
}
.title-container {
  margin-left: 10px;
}
.rating-container {
  display: flex;
  flex-direction: row;
}
.company-icon {
  height: 60px;
  width: 60px;
}
.title {
  font-size: 20px;
  font-weight: 500;
  font-family: 'roboto';
  color: white;
  margin: 0px;
  margin-bottom: 15px;
}

.star-icon {
  color: yellow;
  fill: yellow;
}
.rating {
  font-size: 18px;
  font-weight: 500;
  font-family: 'roboto';
  color: white;
  margin: 0px;
  margin-left: 10px;
}
.location-container {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.location-width {
  width: 80%;
}
.para {
  font-size: 14px;
  font-family: 'roboto';
  color: white;
  margin: 0px;
  margin-left: 10px;
  margin-right: 15px;
}
.location-icon {
  color: white;
}
.package {
  font-size: 20px;
  font-weight: 500;
  font-family: 'roboto';
  color: white;
  margin: 0px;

  margin-left: 10px;
  margin-right: 15px;
  align-self: flex-end;
}
.line-style {
  height: 3px solid #272727;
  width: 100%;
  margin-left: 0px;
}
.job-description {
  color: white;
  font-family: 'roboto';
  font-size: 14px;
  margin: 0px;
  text-align: justify;
  line-height: 1.5;
}
